<h1> Edit Tasks Details</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2"> Name: *</label>
        <input name="name" id="name" required value="{{ tasks.name }}" />
    </fieldset>

    <fieldset class="form-group">
        <label for="priority" class="col-sm-2">Priority: *</label>
        <select name="priority" id="priority" required>
            {{#each priorities}}
            {{createOption this.name ../tasks.priority}}
            {{/each}}
        </select>
    </fieldset>

    <fieldset>
        <label class="control-label col-md-2">Complete: </label>
        {{#if task.complete}}
        <input type="checkbox" id="complete" name="complete" checked="checked" />
        {{else}}
        <input type="checkbox" id="complete" name="compete" />
        {{/if}}
    </fieldset>
    <input type="hidden" name="_id" id="_id" value="{{tasks._id}}" />
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>
